{% extends 'quest/base.html' %} {% block content %}
<section
  class="skrollable u-align-center u-clearfix u-custom-color-1 u-section-1"
  id="sec-9b1f"
>
  <h1
    class="
      u-custom-font
      u-font-oswald
      u-text
      u-text-default
      u-text-palette-1-base
      u-text-1
    "
    spellcheck="false"
  >
    SHER-LOCK&nbsp;
  </h1>
  <p class="u-text u-text-grey-90 u-text-2">
    Work from Holmes by&nbsp;<a
      href="https://www.instagram.com/fyivitc/"
      class="
        u-active-none
        u-border-none
        u-btn
        u-button-link
        u-button-style
        u-hover-none
        u-none
        u-text-palette-1-dark-1
        u-btn-1
      "
      target="_blank"
      >FYI VITC<br />
    </a>
  </p>
  <div
    class="
      u-align-center
      u-container-style
      u-expanded-width-sm
      u-expanded-width-xs
      u-group
      u-group-1
    "
  >
    <div class="u-container-layout">
      <a
        href="{% url 'quiz'%}"
        class="
          u-active-palette-1-base
          u-border-none
          u-btn
          u-btn-round
          u-button-style
          u-grey-5
          u-hover-palette-1-base
          u-radius-50
          u-text-active-white
          u-text-hover-white
          u-text-palette-1-base
          u-btn-2
        "
        spellcheck="false"
        >PLAY NOW</a
      >
      <a
        href="{% url 'leaderboard'%}"
        class="
          u-active-palette-3-base
          u-border-none
          u-btn
          u-btn-round
          u-button-style
          u-hover-palette-3-base
          u-palette-1-base
          u-radius-50
          u-btn-3
        "
        spellcheck="false"
        >LIVE leaderboard</a
      >
    </div>
  </div>
  <img
    class="u-expanded-width u-image u-image-contain u-image-1"
    src="https://cyanidepublishing.files.wordpress.com/2017/06/sherlock-holmes.jpg?w=1200"
    data-image-width="1200"
    data-image-height="602"
  />
</section>
{% endblock %}
