{% extends 'quest/base.html' %} {% block css %}
<style>
  body {
    font-family: "Lato", sans-serif;
    margin: 0;
    background: url("https://cyanidepublishing.files.wordpress.com/2017/06/sherlock-holmes.jpg?w=1200")
      no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    color: #0a0a0b;
    overflow: hidden;
  }</style
>{% endblock css %} {% block content %}
<div class="cover">
  <form class="flex-form">
    <label for="from">
      <i class="ion-location"></i>
    </label>
    <a href="{% url 'quiz' %}">Play Now</a>
  </form>
</div>
{% endblock %}
