{% extends 'quest/base.html' %} {% load crispy_forms_tags %} {% block content %}
<style>
  a{
    color: #FFF;
  }
  .cover{
    margin: 0;
    background: url("https://wallpapercave.com/wp/wp2332438.jpg") no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
  }
</style>
<div class="cover">
  <form method="POST">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="bottom-border mb4">Join Today</legend>
      {{ form|crispy }}
    </fieldset>
    <div class="form-group">
      <button class="btn btn-default" type="Submit">Sign Up</button>
    </div>
  </form>
  <div class="border-top pt-3">
    <small class="text-muted">
      Already have an account.
      <a class="ml-2" href="{% url 'login' %}">Login</a>
    </small>
  </div>
  <br />
  {% if messages %} {% for message in messages %}
  <div class="alert alert-{{ message.tags }}">{{ message }}</div>
  {% endfor %} {% endif %}
</div>
{% endblock %}
