{% extends 'quest/base.html' %} {% load static %} {% load crispy_forms_tags %}
{% block css %}
<style>
  .cover1 {
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.05)),
      to(rgba(0, 0, 0, 0))
    );
    background: -webkit-linear-gradient(
      top,
      rgba(0, 0, 0, 0.05) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.05) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    padding: 80px 50px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
  }
</style>
<script src="{% static 'tinymce/tinymce.min.js' %}"></script>
{% endblock css%} {% block content %}
<div class="cover1">
  <p>{{ ask.question | safe}}</p>
  <form class="flex-form" method="POST">
    {% csrf_token %} {{ form.as_table }}
    <input type="submit" value="Submit" />
  </form>
</div>
{% endblock %}
